h1
{font-style:italic; color:red; background:navy;font-size:12pt; border:1px solid red;}
P{color:blue; background:yellow;}
h1
{font-style:italic;color:darkblue;background:lightgreen;font-size:12pt; border:1px solid darkgreen; }
P
{color:darkorange; background:lightblue; }
