h1{font-style:italic; color:darkgreen;background:lightyellow; font-size:14pt;border:1px solid darkblue;}
h2{font-style:italic;color:darkblue;background:lightcyan;font-size:12pt;}
p
{color:darkred;background:lightgray;}